{
  "singleQuote": true,
  "semi": false,
  "printWidth": 140,
  "arrowParens": "always",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"]
}
